<!-- <footer>
    <h2>LeBonLivre</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sit accusamus voluptatibus harum provident placeat corporis tenetur laboriosam, nulla aut dolorem libero labore vitae et unde itaque repellat! Porro, dolor!</p>
</footer> -->
</body>
</html>